@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,500,700,800,900,600,400,100);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
