// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-columns:     		12;
$sidebar-sm-columns:    4;
$sidebar-md-columns:    5;
$sidebar-lg-columns:    5;

// Colors
$brand-primary:         #2C3E50;
$lighter:				#f7f7f7;