.menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
    color: $brand-primary;
    &::before {
        font-size: 2em;
        margin: 0;
        font-weight: normal;
    }
    &.close-menu {
        color: $lighter;
    }
}
