.main {
    background: $lighter;

    .entry-content {
        text-align: center;
        & > * {
            text-align: left;
        }
    }
    p {
        display: inline-block;
        margin: 0 auto 20px;
        max-width: 65ch;
        font-size: 1.1em;
        line-height: 1.6em;
    }
}