.sidebar {
	background: $brand-primary;
	color: $lighter;
	height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
    @media (min-width: $screen-sm) { display: block !important; }

    .branding {
        margin: 3em 0;
        text-align: center;
        a.brand:hover { text-decoration: none; }
        h1 {
            display: inline-block;
            // font-size: 2em;
            text-transform: uppercase;
        }
        .tagline {
            font-family: 'Raleway';
            font-size: 1.2em;
        }
    }

    a {
        color: $lighter;
        &:hover { color: lighten(saturate($brand-primary, 50%), 50%); }
    }
}
