.sidebar {
	background: $brand-primary;
	color: $lighter;
	height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
    @media (min-width: $screen-sm) { display: block; }

    .branding {
        margin: 4em 0;
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: $lighter;
        }
        .tagline {
            font-family: 'Raleway';
            font-size: 1.2em;
        }
    }
}
